.primary-1 { background-color: #FF7100 }
.primary-2 { background-color: #BF6F30 }
.primary-3 { background-color: #A64A00 }
.primary-4 { background-color: #FF9540 }
.primary-5 { background-color: #FFB173 }

.complement-1 { background-color: #009B95 }
.complement-2 { background-color: #1D7471 }
.complement-3 { background-color: #006561 }
.complement-4 { background-color: #33CDC7 }
.complement-5 { background-color: #5CCDC9 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    /*line-height: 1;*/
	width:100%;
	top:0;
}
a {
    color: #999;
}
body {
    background-color:#fff;
    margin-top:0;
    text-align:left;
    width:100%;
    color: #333;
    font-family:"Helvetica", sans-serif;
}
footer {
    color:#999;
    font-size: 20pt;
    font-weight: bold;
    text-align:center;
    width: 100%;
}
h1 {
    font-size: 20pt;
    font-weight:bold;
}
sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
    padding:0px;
}
td {
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    margin:0px;
    border: 0px solid #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
td.pool {
    /*font-family: "Anonymous Pro", courier;*/
    font-weight: bold;
    font-size: 16pt;
}
tr {
    margin:0px;
    border: 0;
    padding:0px;
}
hr {
    width: 500px;
    background-color: #fff;
    color: #fff;
    border: 1px solid #eee;
}
img {
    width: 32px;
    height: 32px;
}
form {
    padding: 0;
    margin: 0;
}

#sound {
    position: absolute;
    top:20px;
    right:20px;
}
#high {
    width: 32px;
    height: 32px;
    display: none;
}
#mute {
    width: 32px;
    height: 32px;
    display: block;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
    margin-bottom: 30px;
}
#wrap {
    border-radius: 20px;
    width: 700px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
}
#header {
    text-shadow: 1px 1px 0px #555;
    color:#fff;
    text-align:center;
    font-size:50pt;
    padding:20px;
    padding:0;
    margin:0;
}
#score, #time {
    font-size: 17pt;
    text-align:left;
    font-weight:bold;
    height:60px;
    padding:10px;
    padding-top:35px;
    width: 200px;
    float:right;
}
#current-pool {
    padding:0;
    padding-left:20px;
    padding-top:7px;
    font-weight: bold;
    font-size:64pt;
}
#top {
    text-align:left;
    height:120px;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    border-radius: 10px;

}
#main {
	width: 100%;
	position: relative;
}
.score-box {
    font-weight: bold;
    border-radius: 10px;
    min-height:30px;
    background-color:#eee;
    width: 94%;
    padding:20px;
    text-align:left;
    font-size: 17pt;
	position: relative;
    text-align:left;
    margin-bottom:30px;
	float: left;
	overflow: hidden;
}
#missed-container {
    display: none;
    text-align: center;
}
#missed {
    margin-top: 20px;
}
#input {
    width:100%;
    text-align:center;
    font-size:70pt;
    height:100px;
}
#inner-input {
    padding-top:10px;
    padding-bottom:10px;
    width:70%;
    height:100%;
    float:left;
    background-color:#eee;
    border-radius: 10px;
    font-size:64pt;
    font-weight: bold;
}
#char-score {
    padding-top:20px;
    float:left;
    width:30%;
    height:100%;
    border-radius: 10px;
    color:#aaa;
}
#scores {
    display:none;
    text-align:center;
    width: 100%;
    min-height:200px;
    margin-top:50px;
    margin-bottom:50px;
}
#allwords {
    display:none;
}
#tweet-divide {
    margin-top:30px;
    margin-bottom:30px;
}
#credits {
    font-size:10pt;
    font-weight:normal;
    margin-bottom:30px;
}
#donate {
    margin: 0;
    margin-right:10px;
    margin-top:20px;
}
