.primary-1 { background-color: #FF7100 }
.primary-2 { background-color: #BF6F30 }
.primary-3 { background-color: #A64A00 }
.primary-4 { background-color: #FF9540 }
.primary-5 { background-color: #FFB173 }

.complement-1 { background-color: #009B95 }
.complement-2 { background-color: #1D7471 }
.complement-3 { background-color: #006561 }
.complement-4 { background-color: #33CDC7 }
.complement-5 { background-color: #5CCDC9 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    line-height: 1;
	width:100%;
	top:0;
}
body {
    text-align:left;
    width:100%;
    color:#000;
    font-family:"Helvetica", sans-serif;
    font-size:72pt;
    font-weight:bold;
}
.wrap {
    width:700px;
    margin: 0 auto;
    margin-top:50px;
    padding:0;
}
.header {
    text-shadow: 1px 1px 0px #555;
    color:#fff;
    text-align:center;
    font-size:50pt;
    padding:20px;
    padding:0;
    margin:0;
}
#current-pool {
    padding:0;
    padding-left:20px;
    padding-top:7px;
}
.top {
    text-align:left;
    height:120px;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    border-radius: 10px;

}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
    min-height:400px;
}
.main {
	width: 100%;
	position: relative;
}
#current-word {
}
#already-guessed {
    float:left;
    width: 200px;
    padding:20px;
    text-align:left;
    font-size: 17pt;
	position: relative;
    text-align:left;
    border-radius: 5px;
    margin-bottom:30px;
}
#input {
	padding: 0 0 0 320px;
}
#allwords {
    display:none;
}
#score, #time {
    text-align:left;
    font-size:20pt;
    font-weight:normal;
    height:60px;
    padding:10px;
    padding-top:25px;
    width: 200px;
    float:right;
}
#time {
}
footer {
    color:#aaa;
    font-size: 20pt;
    text-align:center;
    width: 100%;
}
h1 {
    font-size: 20pt;
    font-weight:bold;
}
#scores {
    font-weight:normal;
    display:none;
    text-align:center;
    width: 100%;
    min-height:200px;
    font-size:20pt;
    margin-bottom:40px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    padding:0px;
    padding-left: 10px;
    margin:0px;
}
tr {
    margin:0px;
    padding:0px;
}
sup {
    vertical-align: super;
    font-size: smaller;
    font-weight: normal;
}
